@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #efefef;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button,
input,
textarea {
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* class */

.hidden {
    display: none;
}

.center {
    margin: 0 auto;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-content {
    display: flex;
    justify-content: center;
}

.flex-align-items {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-align-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
